body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}

/* solution */
.card {
  box-sizing: border-box;
  border: 10px solid white;
}

.title, .content {
  padding: 5px;
  margin: 5px 0px;
}

.button-container{
  text-align: center;
  width: 100%;
  display: inline-block;
  padding-bottom: 5px;

}

button{
  display: block;
  margin: 0 auto;
}